.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}
ul {
    margin-left: 0 !important;
    padding-left: 0;
    list-style: none;
}
body {
    color: #222d32 !important;
}

#pick-logo-modal .logo-picker-item .logo-group {
    cursor: pointer;
}
#pick-logo-modal .logo-picker-item .logo-group:hover, .logo-picker-item .logo-group.selected {
    background-color: #5969ff;
    color: #fff;
}
label {
    color: #000;
}