<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/layout/main}">>
<head>
    <title>Notes group</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendor/quill-editor/quill.snow.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/app/note-edit.css}" />
</head>
<body>
    <div layout:fragment="content">
        <div class="col-xl-12 note-edit">
            <div class="card card-note">
                <div class="card-header d-flex">
                    <h4 class="mb-0" contenteditable="true">Enter the title here</h4>
                    <div class="dropdown ml-auto">
                        <a class="toolbar" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink" x-placement="bottom-end" style="position: absolute; transform: translate3d(18px, 23px, 0px); top: 0px; left: 0px; will-change: transform;">
                           <!--<a class="dropdown-item text-primary" href="#">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <div class="dropdown-divider"></div>-->
                            <a class="dropdown-item text-success" href="#">
                                <i class="fas fa-check"></i> Save
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#">
                                <i class="fas fa-times"></i> Delete
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="standalone-container">
                        <div id="snow-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div layout:fragment="scripts">
        <script type="text/javascript" th:src="@{'/assets/vendor/quill-editor/quill.min.js'}"></script>
        <script>
            var quill = new Quill('#snow-container', {
                placeholder: 'Compose an epic...',
                theme: 'snow',
                modules: {
                    toolbar: [
                        [{ 'font': [] }],
                        [{ header: [1, 2, 3, 4, 5, 6, false] }],
                        [{ size: [ 'small', false, 'large', 'huge' ]}],
                        ['bold', 'italic', 'underline', 'strike', { 'script': 'sub'}, { 'script': 'super' }],
                        ['link', 'image', 'code-block'],
                        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                        // [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                        [{ 'indent': '-1'}, { 'indent': '+1' }, { 'align': [] }],          // outdent/indent
                        // [{ 'direction': 'rtl' }],                         // text direction
                        [{ 'color': [] }, { 'background': [] }],
                        ['clean'] // Remove formatting
                    ]
                }
            });

            quill.keyboard.addBinding({
                key: 'S',
                shortKey: true
            }, function(range, context) {
                // this.quill.formatText(range, 'bold', true);
                console.log(this.quill.getText());
                console.log(this.quill.getLength());
                // this.quill.setText('Hello\n');
            });
        </script>
    </div>
</body>
</html>