<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/layout/main}">>
<head>
    <title>Bank cards</title>
    <link rel="stylesheet" th:href="@{/assets/css/app/accounts.css}">
</head>
<body>
    <div layout:fragment="content">
        <div th:insert="app/user/accounts/modals/pass-code-modal :: passCodeModal"></div>

        <div class="row accounts bank-cards">
            <div class="col-xl-12 col-12">
                <div class="card">
                    <h5 class="card-header d-flex justify-content-between">
                        <input type="search" class="form-control" placeholder="Search a card..." id="input-search-bank-card" />
                        <a href="/" class="btn btn-sm btn-primary" th:href="@{/bank-cards/create}">
                            <i class="fas fa-plus"></i> Add card
                        </a>
                    </h5>
                    <div class="card-body p-0">
                        <div class="row" style="height: inherit">
                            <div class="col-md-4 pr-0" style="height: inherit; border-right: solid 1px #ddd">
                                <ul class="social-sales account-items list-group list-group-flush">
                                    <li class="list-group-item social-sales-content">
                                        <div class="">UBA</div>
                                        <span class="social-sales-name">Prepaid Card</span>
                                    </li>
                                    <li class="list-group-item social-sales-content selected">
                                        <div class="">Afriland</div>
                                        <span class="social-sales-name">Courant Card</span>
                                    </li>
                                    <li class="list-group-item social-sales-content">
                                        <div class="">Ecobank</div>
                                        <span class="social-sales-name">Courant Card</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-8" style="height: inherit;">
                                <div class="account-detail pl-3 pt-3 pr-4 pb-3">
                                    <ul class="detail-list">
                                        <li class="detail-list-item">
                                            <div class="detail-list-item-label">Card Name:</div>
                                            <div class="detail-list-item-value">ERIC CABREL TIOGO</div>
                                        </li>
                                        <li class="detail-list-item">
                                            <div class="detail-list-item-label">Card Number:</div>
                                            <div class="detail-list-item-value">0323 3565 7653 0985</div>
                                        </li>
                                        <li class="d-flex">
                                            <div class="detail-list-item w-50">
                                                <div class="detail-list-item-label">Expiration Date:</div>
                                                <div class="detail-list-item-value">04/2021</div>
                                            </div>
                                            <div class="detail-list-item w-50">
                                                <div class="detail-list-item-label">CVC:</div>
                                                <div class="detail-list-item-value">653</div>
                                            </div>
                                        </li>
                                        <li class="detail-list-item">
                                            <div class="detail-list-item-label">Card Terminal Code:</div>
                                            <div class="detail-list-item-value d-flex justify-content-between">
                                                <span>************</span>
                                                <a href="#" class="btn btn-sm btn-outline-primary" style="cursor: pointer"
                                                   data-toggle="modal" data-target="#pass-code-modal">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="detail-list-item">
                                            <div class="detail-list-item-label">Card Type:</div>
                                            <div class="detail-list-item-value">Prepaid Card</div>
                                        </li>
                                        <li class="mt-4 d-flex justify-content-end">
                                            <a href="/accounts/create" class="btn btn-sm btn-success">
                                                <i class="fas fa-pencil-alt"></i> Update
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div layout:fragment="scripts">

    </div>
</body>
</html>