<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/layout/main}">>
<head>
    <title>App Accounts</title>
    <link rel="stylesheet" th:href="@{/assets/css/app/accounts.css}">
</head>
<body>
    <div layout:fragment="content">
        <div th:insert="app/user/accounts/modals/pass-code-modal :: passCodeModal"></div>

        <div class="row accounts bank-accounts">
            <div class="col-lg-4" style="height: 267px">
                <a href="/" th:href="@{/bank-accounts/create}" class="btn-primary-link" style="font-size: 60px;">
                    <div class="card text-dark bg-white p-3 note-group-add d-flex justify-content-center align-items-center">
                        <i class="fas fa-plus"></i>
                    </div>
                </a>
            </div>

            <div class="col-lg-4">
                <a href="/" th:href="@{/bank-accounts/create}" class="btn-primary-link">
                    <div class="card text-dark bg-white p-3 note-group">
                        <h3 class="card-title">Afriland</h3>

                        <div>
                            <ul>
                                <li class="mt-1">
                                    <div>Account Number:</div>
                                    <div class="font-12 font-weight-bold pl-3">058489573909</div>
                                </li>
                                <li class="mt-3">
                                    <div>Account RIB:</div>
                                    <div class="font-12 font-weight-bold pl-3">SWIFT-058489573909-CCMX</div>
                                </li>
                                <li class="mt-3">
                                    <div>Account Password:</div>
                                    <div class="font-12 font-weight-bold pl-3 d-flex justify-content-between">
                                        <span>*************</span>
                                        <a href="#" data-toggle="modal" data-target="#pass-code-modal">show</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4">
                <a href="/" th:href="@{/bank-accounts/create}" class="btn-primary-link">
                    <div class="card text-dark bg-white p-3 note-group">
                        <h3 class="card-title">UBA</h3>

                        <div>
                            <ul>
                                <li class="mt-1">
                                    <div>Account Number:</div>
                                    <div class="font-12 font-weight-bold pl-3">0000584459</div>
                                </li>
                                <li class="mt-3">
                                    <div>Account RIB:</div>
                                    <div class="font-12 font-weight-bold pl-3">SWIFT-05000058445909-CCMX</div>
                                </li>
                                <li class="mt-3">
                                    <div>Account Password:</div>
                                    <div class="font-12 font-weight-bold pl-3 d-flex justify-content-between">
                                        <span>*************</span>
                                        <a href="#" data-toggle="modal" data-target="#pass-code-modal">show</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div layout:fragment="scripts">

    </div>
</body>
</html>