<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Passify</title>
        <!-- <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" /> -->
        <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/assets/vendor/fonts/circular-std/style.css}">
        <link rel="stylesheet" th:href="@{/assets/libs/css/style.css}">
        <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome/css/fontawesome-all.css}">
        <link rel="stylesheet" th:href="@{/assets/css/auth/layout.css}">
    </head>
    <body>
        <div class="splash-container">
            <div layout:fragment="content">

            </div>
        </div>

        <script th:src="@{'/assets/vendor/jquery/jquery-3.3.1.min.js'}"></script>
        <script th:src="@{'/assets/vendor/bootstrap/js/bootstrap.bundle.js'}"></script>
    </body>
</html>